# Entorno virtual
venv/
.venv/
env/

# Archivos compilados de Python
*.pyc
__pycache__/

# Base de datos local de desarrollo (por defecto en Django)
db.sqlite3

# Archivos del sistema u otros editores (opcional)
.DS_Store
.vscode/
.idea/