# === ENTORNO VIRTUAL Y PYTHON ===
backend/venv/
backend/.venv/
venv/
.venv/
*.pyc
__pycache__/

# === BASE DE DATOS LOCAL ===
*.sqlite3

# === ANGULAR Y NODE ===
**/node_modules/
.angular/
/dist/

# === SISTEMA Y EDITORES ===
.vscode/
.idea/
.DS_Store
Thumbs.db