.admin-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #09090b;
}

.admin-main-viewport {
  flex: 1;
  margin-left: 75px; /* Se queda fijo aquí, el sidebar flotará sobre este espacio */
  padding: 40px;
  min-width: 0;
}