<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Habitación</title>
</head>
<body>
    <h1>Detalle de la Habitación {{ object.numero }}</h1>
    <p><strong>Tipo de ambiente:</strong> {{ object.tipo }}</p>
    <p><strong>Precio base por noche:</strong> ${{ object.precio_por_noche }}</p>
    <p><strong>Estado en Tiempo Real:</strong> {% if object.esta_ocupada %}Ocupada{% else %}Disponible{% endif %}</p>
    <hr>
    <a href="{% url 'wellness:lista' %}">Volver al listado</a>
</body>
</html>