<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cataga Club - Reservas</title>
</head>
<body>
    <h1>Panel Global de Reservas y Cuentas</h1>
    <a href="{% url 'wellness:reserva_crear' %}">Crear Nueva Reserva</a> | 
    <a href="{% url 'wellness:consumo_crear' %}">Cargar Pedido de Restaurante</a> |
    <a href="{% url 'wellness:lista' %}">Habitaciones</a>
    <hr>
    <ul>
        {% for res in reservas %}
            <li>
                <strong>Reserva #{{ res.id }}</strong>: Cliente: {{ res.cliente.nombre }} | 
                Habitación: {{ res.habitacion.numero }} | 
                <strong>Monto Total: ${{ res.total_acumulado }}</strong>
                <br>
                <em>Consumos en Restaurante:</em>
                <ul>
                    {% for consumo in res.consumos_restaurante.all %}
                        <li> {{ consumo.cantidad }}x {{ consumo.descripcion_plato }} (${{ consumo.precio }})</li>
                    {% empty %}
                        <li>Sin consumos en el restaurante todavía.</li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <li>No hay reservas activas en Cataga Club.</li>
        {% endfor %}
    </ul>
</body>
</html>